<% if comment == @comment %>
<div class="media new_created_comment" style="display: none" id="comment-<%= comment.id %>">
<% else %>
<div class="media" id="comment-<%= comment.id %>">
<% end %>

  <div class="media-left">
    <%= link_to comment.user, class: 'media-object' do %>
      <%= image_tag thumb_for(comment.user) %>
    <% end %>
  </div>

  <div class="media-body">
    <div class="panel panel-default" id="comment-panel-<%= comment.id %>">
      <div class="panel-heading">
        <%= link_to comment.user.email, '#' %> - <%= time_ago_in_words(comment.created_at) %>
      </div>

      <div class="panel-body">
        <p id="comment-content-<%= comment.id %>"><%= comment.content %></p>
        <p id="reply-form-for-<%= comment.id %>">
          <%= link_to 'Reply', new_comment_path(parent_id: comment.id), class: 'btn-sm btn-default pull-right', remote: true %>
        </p>
      </div>
    </div>

    <%= render comment.replies %>
  </div>
</div>