<div id="topic">
  <h3>
    <%= @topic.hanyu.meaning %>
  </h3>

  <div class="panel">
    <ul class="nav nav-tabs" id="myTab1">
      <li class="active">
        <a data-toggle="tab" href="#pronunciation">Pronunciation</a>
      </li>

      <li>
        <a data-toggle="tab" href="#example">Example</a>
      </li>

      <li>
        <a data-toggle="tab" href="#extra">Extra Info</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade active in" id="pronunciation">
        <ruby>
          <% split_topic(@topic.name).each do |word| %>
            <%= word %> <rp>(</rp><rt><%= PinYin.sentence(word, :unicode) %></rt><rp>)</rp>
          <% end %>
        </ruby>
        <br>
        <%= audio_tag(@topic.hanyu.speaking.to_s, controls: true) %>
      </div>

      <div class="tab-pane fade" id="example">
        <ul class="examples">
          <%= render @examples %>
        </ul>
      </div>

      <div class="tab-pane fade" id="extra">
        <% if @topic.info.present? %>
          <%= simple_format @topic.info %>
        <% else %>
          There is no extra information here.
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', topics_path, class: 'btn' %>
<%= link_to 'Random Topic', random_topics_path, class: 'btn btn-primary pull-right' %>