<h3><%= @topic.hanyu.meaning %> <%= render 'layouts/topic_status' %> </h3>
<div id="topic">
  <div class="row">
    <div class="col-md-4 col-md-push-8">
      <div class="panel panel-default">
        <div class="panel-heading">Topic</div>
        <div class="panel-body">
          <div id="pronunciation">
            <ruby>
              <% generate_pinyin_ignore_sym_for(@topic.name).each do |word| %>
                <%= word %>
                <rp>(</rp><rt><%= PinYin.sentence(word, :unicode) %></rt><rp>)</rp>
              <% end %>
            </ruby>
            <br>
              <%= audio_tag(@topic.hanyu.speaking.url.to_s, controls: true) %>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Extra Information</div>
        <div class="panel-body">
          <%= customized_content_for simple_format(@topic.info), 'highlight' %>
        </div>
      </div>
    </div> <!-- pronunciation -->

    <div class="col-md-8 col-md-pull-4">
      <div class="panel panel-default">
        <div class="panel-heading">Example Sentences</div>
        <div class="panel-body">
          <div id="examples">
            <%= render @topic.examples %>
          </div>
        </div>
      </div>
      <%= render 'comments/form' %>
      <h1>All comments</h1>
      <div class="panel">
        <div class="panel-body comments">
          <% if @topic.comments.exists? %>
            <%= render @topic.comments.select(&:persisted?) %>
          <% else %>
            <span id="no-comment">There are no comments for this topic.</span>
          <% end %>
        </div>
      </div>
    </div> <!-- exampes -->
  </div>
</div>


