<h3><%= @topic.hanyu.meaning %></h3>

<% if user_signed_in? %>
  <%= render 'user_topic_status' %>
<% end %>

<div id="topic">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Topic</div>
        <div class="panel-body">
          <div id="pronunciation">
            <ruby>
              <% split_topic(@topic.name).each do |word| %>
                <%= word %> <rp>(</rp><rt><%= PinYin.sentence(word, :unicode) %></rt><rp>)</rp>
              <% end %>
            </ruby>
            <br>
              <%= audio_tag(@topic.hanyu.speaking.url.to_s, controls: true) %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Example Sentences</div>
        <div class="panel-body">
          <div id="examples">
            <%= render @topic.examples %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>