<h1>Highlight essential part and speaking audio</h1>
<div class="panel">
  <div class="panel-body">
    <%= simple_form_for [@topic, @example] do |f| %>
      <%= f.input :sentence,
        label: 'Example Sentence',
        wrapper_html: { class: 'form-group' },
        input_html: { class: 'form-control' } %>

      <%= f.simple_fields_for :hanyu do |hanyu_field| %>
        <%= hanyu_field.input :pinyin,
          wrapper_html: { class: 'form-group' },
          input_html: { class: 'form-control' } %>

        <%= hanyu_field.input :meaning,
          wrapper_html: { class: 'form-group' },
          input_html: { class: 'form-control' } %>

        <%= hanyu_field.input :slow_speaking,
          label: 'Slow Speaking Audio File',
          wrapper_html: { class: 'form-group' },
          input_html: { class: 'form-control' } %>

        <%= hanyu_field.input :normal_speaking,
          label: 'Normal Speaking Audio File',
          wrapper_html: { class: 'form-group' },
          input_html: { class: 'form-control' } %>
      <% end %>

      <%= f.button :submit, 'Create' %>
    <% end %>
  </div>
</div>