<!DOCTYPE html>
<html>
<head>
  <title>ChineseBangBang</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nave">
  <%= link_to 'New Topic', new_topic_path %>
  <%= link_to 'Topics', topics_path %>
</div>

<div class="flash-msg">
  <% flash.each do |key, msg| %>
    <%= msg %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
